img{
    max-width: 40%;
    max-height: auto;
    border-radius: 2rem;
}
*{
    text-align: center;
    position: relative;
    justify-content: center;
}
 li{
     margin: 2rem;
 }

/*.hidden{
    display: none;
}
*/
.btn{
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    background-color:rgba(52, 141, 182, 0.315);
    margin: auto;
    margin-top: 1rem;
    margin-bottom:1rem ;
    border-radius:0.3rem ;
}
.bac{
    background-color: rgba(70, 86, 155, 0.315);
    border-radius: 2rem;
}
.bac_li{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}